_site
.sass-cache
.jekyll-metadata
raft/*
rafts/*

#ignore tilda files
*~
OLD/
*.yml~
*.html~
*.markdown~

#ignore DS files
_drafts/.DS_Store
.DS_Store

#Rfiles
*.Rproj
.Rhistory
.Rproj.user/
_Rmd/publications.html
